.navbar{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
    background-color: #ffd400;
    color: #16479b;
}
.navbar-logo{
    display: flex;
    align-items: center;
}
.navbar-logo img{
    width: 40px;
    margin-right: .8rem;
}
.navbar ul{
    display: flex;
    align-items: center;
    list-style: none;
}
.navbar li, .navbar a{
    text-decoration: none;
    color: #16479b;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5rem .8rem;
    margin: 0 .3rem;
    border-radius: 5px;
}
.navbar li:hover{
    background-color: #16479b;
    color: #FFF;
}
/* Quando der hover no 'li' irá afetar o 'a' dentro de '.navbar li' */
.navbar li:hover > a{ 
    color: #FFF;
}